.https {
    color: red;
}

.p_after-ul {
    font-size: 24px;
}

.list {
    color: blue;
}

.pink_h {
    color: pink;
}

#greycol {
    color: gray;
}

.p_red {
    color: red;
}

.p_green {
    color: green;
}

.yellow {
    color: yellow;
}